body{margin:10px 10px 10px 10px;font-family:times;background-color:#FFFFF9;}

a{text-decoration:none}

a:link{font-weight:bold; color:#333399;}

a:visited{color:#333399; font-weight:bold;}

a:hover{background-color:#ccccff;}

a:active{background-color:#9999ff;}

